* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: rgb(54, 54, 54);
    color:white;
}
body::after {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      0deg,
      rgb(197,241,161) 0px,
      rgb(197,241,161) 1px,
      transparent 2px,
      transparent 10px
    ),linear-gradient(
        90deg,
        rgb(197,241,161) 0px,
        rgb(197,241,161) 1px,
        transparent 2px,
        transparent 10px
      );
      background-size: 20px 20px;
    opacity: 0.1;
    z-index: -111;
}

.top {
    text-align:center;
    background-color: rgb(70, 70, 70);
    padding:3px;
    opacity:0.6;
    border-radius:10px;
}
.toptx {
    color:rgb(255, 255, 255);
    font-size:30px;
    text-shadow:3px 3px 1px #141414;
    font-family: "consolas";
    
}
.toptx a {
    color:rgb(197,241,161);
}

#container {
    height:120%;
    padding:20px;
    margin:20px;
    /* border:1px solid;  */
}

.recd {
    margin:-180px 150px;
    position:absolute;
}

.recd li{
    background-color: rgb(46, 46, 46);
    font-family: 'consolas';
    text-align: left;
    padding:10px;
    margin:5px;
    opacity:0.6;
    border-radius:10px;
    color:rgb(197,241,161);
}

.num {
    font-size:150px;
    position:absolute;
    margin:-280px 950px;
    color:rgb(152, 185, 124);
    font-family:"consolas";
    text-align: right;
    line-height:120px;
}